<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265199761276-ghn4qlv8q3u19qpv259rrq85udpccd7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265199761276-ghn4qlv8q3u19qpv259rrq85udpccd7v</string>
	<key>API_KEY</key>
	<string>AIzaSyCpeK_qm1nODGX5aR0Rrf-kUFi7IxwcTbY</string>
	<key>GCM_SENDER_ID</key>
	<string>265199761276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWeekendApp</string>
	<key>PROJECT_ID</key>
	<string>medica-kfupm</string>
	<key>STORAGE_BUCKET</key>
	<string>medica-kfupm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265199761276:ios:51b68577d9c2ca2b1c16f9</string>
</dict>
</plist>